body {margin: 0; padding: 0;}
* {box-sizing: border-box; font-family: sans-serif;}

.container {
  width: 800px;
  margin: 0 auto;
}

/* throw away styles above this line */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plugboard {
  border: 1px solid yellow;
}

.plugboard-label {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

.plugboard-letter {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  color: white;
  background: lightblue;
  text-align: center;
  font-weight: bold;
  padding-top: 3px;
}

.rotors-container {
  border: 1px solid lightgreen;
}

.rotor {
  border: 1px solid blue;
  width: 160px;
  height: 160px;
  float: left;
  margin-right: 20px;
}

.rotor-letters {
  /*border: 1px solid black;*/
  transition: transform .15s;
  transform-origin: 0px 0px;
  transform: translate(80px, 80px) rotate(0deg);
}

.rotor-position {
  text-align: center;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  position: absolute;
  font-size: 10px;
  color: white;
  background: navy;
  margin: -6px; /* this is the important line. must be half of width and height */
}

.starting-position {
  width: 160px;
  height: 160px;
  position: absolute;
  font-size: 70px;
  background: rgba(255, 0, 0, .4);
  margin: 0;
  padding: 34px 0;
  text-align: center;
}

.reflector {
  float: left;
  border: 1px solid purple;
  height: 160px;
  width: 160px;
}

.lightboard {
  border: 1px solid green;
  height: 145px;
}

.lightboard :first-child {
  margin: 0;
  padding: 10px;
}

.lightboard-letter {
  display: block;
  cursor: default;
  position: absolute;
  text-align: center;
  color: white;
  background: #594D59;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.lightboard-letter:active {
  background: #5F2C5F;
}

#circuits {
  z-index: -1;
  position: absolute;
  background: rgba(0, 0, 0, .1);
}

#encrypt {
  font-size: 20px;
  padding: 4px;
}