
/* Enigma Under the Hood */

.container {
  margin: 0 auto;
  width: 50%;
}

#enigma {
  background-size: cover;
  overflow: hidden;
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 30px !important;
  margin-top: 6px;
}


#enigma.collapsed {
  height: 150px;
}

#enigma * {
  font-family: 'source-sans-pro', sans-serif;
}

.under-the-hood {
  display: inline-block;
  margin-left: 20px;
  /*color: #f1a126;*/
  font-size: 12px;
  color: black;
  padding: 0 !important;
  margin-bottom: 0;
}

.under-the-hood.inactive {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plugboard {
  position: relative;
  background: #e3c993;
  padding: 1px 0;
}

#plugs {
  width: 100%;
  height: 88%;
  position: absolute;
  padding: 3px;
  opacity: .15;
  padding-top: 9px;

}

.plug {
  margin: 0 1.923%;
  width: 0;
  float: left;
  /*margin: 3.846%;*/
  height: 100%;
}

.plug:after {
  border: 1px solid black;
  content: ' ';
  width: 0;
  display: block;
  position: absolute;
  height: 90%;
}

.plugboard ul {
  margin: 3px;
  padding: 0;
  position: relative;
  z-index: 1;
}

.plugboard-label {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  color: black;
}

.plugboard-letter {
  display: inline-block;
  width: 3.846%; /* 1/26th of 100% */
  text-align: center;
}

.plugboard-letter span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 auto;
  color: white;
  background: #555041;
  border: 1px solid #aaa;
  font-size: 11px;
}

#rotors {
  pointer-events: none;
}

.rotors-container {
  padding-bottom: 0 !important;
}

#enigma.collapsed #rotors {
  transform: translate(0, -146px);
  -webkit-transform: translate(0, -146px);
  -ms-transform: translate(0, -146px);
  opacity: .3;
}

.rotor-letters {
  /*border: 1px solid black;*/
  -webkit-transition: -webkit-transform .15s;
  -moz-transition: -moz-transform .15s;
  -ms-transition: -ms-transform .15s;
  transition: transform .15s;

  transform-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;

  -webkit-transform: translate(80px, 80px) rotate(0deg);
  -moz-transform: translate(80px, 80px) rotate(0deg);
  -ms-transform: translate(80px, 80px) rotate(0deg);
  transform: translate(80px, 80px) rotate(0deg);

}

.rotor-position {
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: absolute;
  font-size: 10px;
  color: white;
  background: navy;
  margin: -8px; /* this is the important line. must be half of width and height */
  padding-top: 2px;
}

.starting-glyph {
  fill: #aaa;
  text-anchor: middle;
  font-size: 50px;
}

.lightboard {
  height: 145px;
  padding-top: 14px;
}

.lightboard-letter {
  display: block;
  cursor: default;
  text-align: center;
  color: white;
  float: left;
}

.lightboard-letter span {
  /*background: #221c0f;*/
  background: #555041;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  display: block;
  border-radius: 20px;
  font-size: 26px;
  font-weight: bold;
  border: 1px solid #332836;
  -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 3  px 5px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.2);
  -webkit-transition: background-color .3s;
  -moz-transform: background-color .3s;
  -ms-transform: background-color .3s;
  transform: background-color .3s;
}

.lightboard-letter span:before {
  content: " ";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 21px;
  box-sizing: content-box;
  border: 2px solid #fff8f6;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}

.lightboard-letter.active span {
  background: #f1a126;
  color: black;
}

.lightboard-label {
  margin: 0;
  padding: 0;
}

#circuits {
  z-index: -1;
  position: absolute;
}

.encrypt-module {
  background: white;
  padding: 0 !important;
}

#enigma .cta {
  font-size: 12.9px;
  color: #666;
  line-height: 1.4em;
  margin: 0 !important;
  padding: 20px 0 20px 0 !important;
}

#encrypt {
  font-size: 14px;
  padding: 4px;
  width: 50%;
  margin-left: 25%;
}

#encoded-message {

}

.output-message {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 2px;
  position: relative;
  z-index: 20;
  background: black;
  /*color: #f1a126;*/
  color: white;
  padding: 10px !important;
  position: relative;
  z-index: 0;
}

/* some SVG classes */
.line-group, .glyph-group {
  -webkit-transition: -webkit-transform .15s;
  -moz-transition: -moz-transform .15s;
  -ms-transition: -ms-transform .15s;
  transition: transform .15s;
}

.rotor-position.inForward circle {
  /*fill: #614427;*/
  fill: white;
  stroke: black;
}

.rotor-position.outForward circle {
  /*fill: #372f23;*/
  fill: white;
  stroke: black;
}

.rotor-position.inReverse circle {
  /*fill: #9f936b;*/
  fill: black;
  stroke: white;
}

.rotor-position.outReverse circle {
  /*fill: #555041;*/
  fill: black;
  stroke: white;
}

.rotor-position.inForward text,
.rotor-position.outForward text {
  fill: black;
}

.rotor-position.inReverse text,
.rotor-position.outReverse text {
  fill: white;
}

.forward-wire {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

.reverse-wire {
  stroke: black;
  stroke-dasharray: 3px;
  stroke-width: 2;
  fill: none;
}

.reflector-glyph {
  fill: black;
  text-anchor: middle;
  font-weight: bold;
  font-size: 10px;
}

.reflector-wire {
  stroke: #aaa;
  fill: none;
  stroke-width: 2;
}

.reflector-wire.active {
  stroke: black;
  stroke-dasharray: 3px;
}

.reflector-contact circle, circle.rotor-letter-bkd {
  fill: #f1a126;
}

.reflector-contact.input circle {
  stroke: black;
  fill: white;
}

.reflector-contact.output circle {
  stroke: white;
  fill: black;
}

.reflector-contact.input text {
  fill: black;
}

.reflector-contact.output text {
  fill: white;
}

.rotor-contact {
  fill: black;
  text-anchor: middle;
  font-weight: bold;
  font-size: 11px;
}

.output-lightboard {
  position: relative;
}

.so-scary {
  position: absolute;
  top: 0px;
  color: white;
  right: 10px;
  font-size: 30px !important;
  opacity: .4;
  font-weight: bold;
  cursor: pointer;
}

.so-scary:hover {
  opacity: 1;
}

.circuits-input-letter circle {
  fill: white;
  stroke: black;
}

.circuits-output-letter circle {
  fill: black;
}

.input-letter, .output-letter {
  text-anchor: middle;
  fill: white;
  font-size: 30px;
  font-weight: bold;
}

.input-letter {
  fill: black;
}

.circuits-input-label, .circuits-output-label {
  text-anchor: middle;
  fill: #333;
  font-weight: bold;
  font-size: 11px;
}

#IIIf polygon, #IIf polygon, #If polygon, #Rf polygon {
  fill: white;
  stroke: black;
}

#IIIr polygon, #IIr polygon, #Ir polygon, #Rr polygon {
  fill: black;
  stroke: none;
}

.trip-glyph {
  fill: black;
  stroke: none;
  text-anchor: middle;
  font-size: 12px;
}

#IIIr text, #IIr text, #Ir text, #Rr text {
  fill: white;
}

#entryLabel, #returnLabel {
  fill: white;
}

.directional-copy {
  margin: 0;
  padding: 0;
  margin-left: 3%;
}

.directional-copy li {
  width: 46%;
  display: inline-block;
  color: black;
  position: relative;
}

.directional-copy li p {
  margin: 5px;
  border-radius: 3px;
  padding: 2px 8px;
}

.directional-copy li p:after {
  content: ' ';
  position: absolute;
  border: 8px solid transparent;
  top: 12px;
}

.entry-path-copy p {
  border: 1px solid black;
}

.entry-path-copy p:after {
  left: -14px;
  border-right-color: black !important;
}

.return-path-copy p {
  border: 1px dashed black;
  text-align: right;
}

.return-path-copy p:after {
  right: -14px;
  border-left-color: black !important;
}

.twitter-sharetool .icon {
  background-image: url('http://graphics8.nytimes.com/ads/paidpost/common/images/twitter.png');
  width: 16px;
  height: 16px;
}

.dave-is-stepping-on-all-the-styles {
  padding-bottom: 0 !important;
}