body {margin: 0; padding: 0;}
* {box-sizing: border-box; font-family: sans-serif;}

.container {
  width: 800px;
  margin: 0 auto;
}

/* throw away styles above this line */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.plugboard {
  border: 1px solid yellow;
}

.plugboard ul {
  margin: 0;
  padding: 0;
}

.plugboard-label {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

.plugboard-letter {
  display: inline-block;
  width: 3.846%; /* 1/26th of 100% */
  text-align: center;
}

.plugboard-letter span {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  font-weight: bold;
  padding-top: 6px;
  margin: 0 auto;
  color: white;
  background: lightslategray;
}

.plugboard-letter.active span {
  background: #8470FF;
}

.rotors-container {
  border: 1px solid lightgreen;
}

.rotor {
  border: 1px solid blue;
  width: 160px;
  height: 160px;
  float: left;
  margin-right: 20px;
}

.rotor-letters {
  /*border: 1px solid black;*/
  transition: transform .15s;
  transform-origin: 0px 0px;
  transform: translate(80px, 80px) rotate(0deg);
}

.rotor-position {
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: absolute;
  font-size: 10px;
  color: white;
  background: navy;
  margin: -8px; /* this is the important line. must be half of width and height */
  padding-top: 2px;
}

.lightboard {
  background: rgba(0, 255, 0, .1);
  height: 145px;
}

.lightboard-letter {
  display: block;
  cursor: default;
  text-align: center;
  color: white;
  float: left;
}

.lightboard-letter span {
  background: lightsalmon;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding-top: 9px;
  display: block;
  border-radius: 20px;
  font-size: 26px;
}

.lightboard-letter.active span {
  background: #8B5742;
}

.lightboard-label {
  margin: 0;
  padding: 0;
}

#circuits {
  z-index: -1;
  position: absolute;
  background: rgba(0, 0, 0, .1);
}

#encrypt {
  font-size: 20px;
  padding: 4px;
}

#encoded-message {
  border: 1px solid orange;
}

.output-message {
  font-size: 20px;
}

/* some SVG classes */
.line-group, .glyph-group {
  transition: transform .15s;
}

circle.rotor-letter-bkd {
  fill: cornflowerblue;
}

circle.rotor-letter-bkd.input {
  fill: orangered;
}

circle.rotor-letter-bkd.output {
  fill: darkred;
}